<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Grocery List</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
  <script src="https://kit.fontawesome.com/6402ca9563.js" crossorigin="anonymous"></script>
</head>
<body>
  
  <header>
    <h1>Grocery List</h1>
    <h2>Don't ever forget an item!</h2>
  </header>
    <% let departments = ['Grocery','Dairy','Produce', 'Meats/Seafood', 'Household Items'] %>
  


  <section class="mainContainer">
    <form action="/messages" method="POST">
      <input type="text" placeholder="Add an item" name="name">
      <select name="department">
          <option>Grocery</option>
          <option>Dairy</option>
          <option>Produce</option>
          <option>Meats/Seafood</option>
          <option>Household Items</option>
        </select>
      
      <button type="submit">Submit</button>
    </form>
  
    <h2 class="itemText">Add an Item</h2>
    
    <ul class="messages">
        <% for (let l = 0; l < departments.length; l++) {%>
        <h3><%=departments[l]%></h3>
        <% for(var i=0; i<messages.length; i++) {%>
      
        <% if(messages[i].department === departments[l]) {%>
          
          <% if(!messages[i].check) { %>
      <li class="message">
        
        <span><%= messages[i].name %></span>
        <span><i class="fa fa-trash" aria-hidden="true"></i></span>
        <span><i id="<%= messages[i]._id%>" data-checkbox="true" class="fa-solid fa-check checkgreen" aria-hidden="true"></i></span> 
        <button class="edit">Edit</button>
      </li>
        
          <form class="editForm" action="/edit/<%= messages[i]._id%>?_method=PUT" method="POST">
            <input type="text" placeholder="Add an item" name="name">
              <select name="department">
                <option>Grocery</option>
                <option>Dairy</option>
                <option>Produce</option>
                <option>Meats/Seafood</option>
                <option>Household Items</option>
              </select>
            
            <button type="submit">Submit</button>
          </form>
        <% } else { %>
          <li class="message strikethrough">
            <span><%= messages[i].name %></span>
            <span><i class="fa fa-trash" aria-hidden="true"></i></span>
          <span><i id="<%= messages[i]._id%>" data-checkbox="false" class="fa-solid fa-check checkblack" aria-hidden="true"></i></span>
        </li>
        <% } %>
      
      <% } %>
      <% }  }%>
    </ul>
  </section>
  

  

  

  <script src="main.js"></script>

</body>
</html>
